:root {
  --square-size: 100px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  padding: 0;
  margin: 0;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;

  width: calc(4 * var(--square-size));
  background: #111;
}

.calculator__result {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding-right: 8px;
  grid-column: 1 / span 4;
  background: #111;
  color: #eee;
  height: var(--square-size);

  font-family: monospace;
  font-size: 48px;
  line-height: 100%;
}

.calculator__button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--square-size);
  background: #ddd;
  cursor: pointer;
  border: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 100%;
}

.calculator__button:hover {
  filter: brightness(105%);
}

.calculator__button:active {
  filter: brightness(95%);
}

.calculator__button--2 {
  grid-column: 1 / span 2;
}

.calculator__button--3 {
  grid-column: 1 / span 3;
}

.calculator__button--operation {
  background: #df974c;
  color: #eee;
}